<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BigFoot Forum</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <h1>Bigfoot Sightings</h1>
    <p>A forum dedicated to documenting the sightings of the one and only Bigfoot?</p>
    <p>Have you seen him.. ?</p>
  </body>
</html>
